<%= render "layouts/searchbar" %>
<div class="row">
  <div class="large-4 columns">
    <p></p>
  </div>
  <div class="large-4 columns" align="center">
    <div class="suggested_jobs">
      <% if @jobs.empty? %>
        <p> No results found! <p>
      <% else %>
        <% @jobs.each do |job| %>
       <div class= "job">
          <p><a href="/jobs/<%= job.id %>"><%= job.title %></a></p>
        <p> <%= job.salary %> </p>
        <p> <%= job.location %> </p>
        <p> <%= job.date_created %> </p>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
  <div class="large-4 columns">
    <p></p>
  </div>
</div>
</div>
<div class="industries">
  <p>This should be some kind of frontend styling</p>
  <% @industries.each do |industry| %>
    <div class= "industry">
      <p><a href="/<%= industry %>"><%= industry %></a></p>
    </div>
<% end %>
</div>

