<div class="top-background">
  <div class="row">
    <div class="large-4 columns"> </div>
    <div class="large-12 columns" align="center"><h2>Simple, Powerful Social Recruiting</h2></div>
    <div class="large-4 columns"> </div>
  </div>
  <div class="row">
    <div class="large-8 columns"></div>
    <div class="large-12 columns" align="center">
      <p class="landing-content">Discover high quality talent using your own social networks. Place
      more candidates faster and grow your pipeline with Hireapp.</p></div>
    <div class="large-8 columns"></div>
  </div>
  <div class="row">
    <div class="large-2 columns"></div>
    <div class="large-12 columns" align="center">
      <div class="betaform">
        <%= form_for :betauser do |f| %>
          <div class="row">
          <div class="large-5 columns"> <%= f.text_field :name, class: "textfield" %> </div>
          <div class="large-5 columns"> <%= f.text_field :email, class: "textfield" %> </div>
          <div class="large-1 columns" style="float:left"> <%= f.submit "Get Invited", class: "button" %> </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="large-2 columns"></div>
  </div>
</div>
<div class="row-border">
</div>
<div class="iconset">
  <div class="row" align="center">
    <div class="large-4 columns"><img src="http://placehold.it/150x65"></div>
    <div class="large-4 columns"><img src="http://placehold.it/150x65"></div>
    <div class="large-4 columns"><img src="http://placehold.it/150x65"></div>
  </div>
  <div class="row" align="center">
    <div class="large-4 columns">Analytics & Campaign Management</div>
    <div class="large-4 columns">Multiple Social Accounts</div>
    <div class="large-4 columns">Job Board Syndication</div>
  </div>
</div>
<div class="bottom-content">
  <div class="row" align="center">
    <div class="large-6 columns">
      <div class="row-content" align="left">
        <div class="row-title">
          <h4>An Integrated Social Recruiting Platform</h4>
        </div>
        <div class="row-text">
          <p class="landing-content">HireApp connects your social networks, job boards and applicant tracking system to your listings, unifying the job search and growing your pipeline.</p>
        </div>
      </div>
    </div>
    <div class="large-6 columns"><%= image_tag("Social.png", alt: "Social Recruiting Platform") %></div>
  </div>
  <div class="row" align="center">
    <div class="large-6 columns"><%= image_tag("Hires.png", alt: "Find High Quality Candidates") %></div>
    <div class="large-6 columns">
      <div class="row-content" align="left">
        <div class="row-title">
          <h4>Find High Quality Candidates</h4>
        </div>
        <div class="row-text">
          <p class="landing-content">
          Leverage your existing social media audience to find the best candidates for your listing. Source candidates quickly through the followers and connections you already have.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" align="center">
    <div class="large-6 columns">
      <div class="row-content" align="left">
        <div class="row-title">
          <h4>Build Relationships Through Social Media</h4>
        </div>
        <div class="row-text">
          <p class="landing-content">Top recruiters know there’s more to finding that perfect candidate than blasting out job notifications. HireApp gives you the power to nurture prospects and grow your contact list using your follower base.</p>
          </p>
        </div>
      </div>
    </div>
    <div class="large-6 columns"><%= image_tag("Networks.png", alt: "Build Relationships Through Social Media") %></div>
  </div>
</div>
<div class="bottom-cta">
  <div class="row" align="center">
    <div class="large-2 columns"></div>
    <div class="large-12 columns"><h3>Join Our Private Beta</h3></div>
    <div class="large-2 columns"></div>
  </div>
  <div class="row" align="center">
    <div class="large-2 columns"></div>
    <div class="large-12 columns"><p>We're changing the way recruiters connect with the best talent. Join our beta, start driving revenue through social!</p></div>
    <div class="large-2 columns"></div>
  </div>
  <div class="row" align="center">
    <div class="large-2 columns"></div>
    <div class="large-12 columns">
      <div class="betaform">
        <%= form_for :betauser do |f| %>
          <div class="row">
          <div class="large-5 columns"> <%= f.text_field :name, class: "textfield" %> </div>
          <div class="large-5 columns"> <%= f.text_field :email, class: "textfield" %> </div>
          <div class="large-1 columns" style="float:left"> <%= f.submit "Get Invited", class: "button" %> </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="large-2 columns"></div>
  </div>
</div>
