<div class="application-nav">
  <nav class="top-bar">
    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to "Home", dashboards_path %></li>
        <li><%= link_to "Hires", hires_path %></li>
        <li><%= link_to "Jobs", jobs_path %></li>
      </ul>
      <ul class="right">
        <li><%= link_to "Settings", settings_path %></li>
        <li><%= link_to "Upgrade", upgrades_path %></li>
    </section>
  </nav>
</div>

