<div class="application-nav">
  <nav class="top-bar">
    <section class="top-bar-section">
      <ul class="left">
        <%= form_tag( careers_path, :method => "get") do %>
          <div class="row" align="center">
            <div class="large-4 columns">
             <%= text_field_tag :title, params[:title], placeholder: "Search Jobs by Keyword" %>
            </div>
            <div class="large-4 columns">
             <%= text_field_tag :location, params[:location], placeholder: "Search Jobs by Location" %>
            </div>
            <div class= "large-4 columns">
              <button class="btn" type="submit"> <i class="icon-search">Search!</i></button>
          </div>
        </div>
      <% end %>
      </ul>
      <ul class="right">
        <li><%= link_to "Upgrade", upgrades_path %></li>
      </section>
    </nav>
  </div>
  <%= yield %>

