<!DOCTYPE html>
<html>
<head>
  <title>Hireapp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
      <a href= "/"><%=image_tag("logo_2x.png", alt: "Hireapp")%></a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "button" %></li>
        <%- else -%>
          <li><%= button_to 'Join', new_user_registration_path, method: :get,  class: "button" %></li>
          <li><%= button_to 'Sign In', new_user_session_path, method: :get, class: "button" %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
